.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

#centered {
    position: absolute;
    top: 50%;
    width: 70%;
    display: block;
    margin-left: 15%;
    margin-right: 15%;

}

body {
    text-align: center;
    margin: 20px;
}

.google {
    border-radius: 5px;
}

#buttons {
    margin: 5px;
}

.button {
    margin-bottom: 3px;
}

.fields label {
    margin-bottom: 3px;
}

.fields input {
    margin-bottom: 3px;
}

#table {
    text-align: left;
    /*margin-left: auto;
    margin-right: auto;
    margin-up: 15%;
    margin-down: 15%;
    height: 70%;
    display: inline-block; */
}

#advanced {
    background-color: #4D90FE;
    colour: white;
}